<div class="container">
<h1>Login</h1>
<%= form_with(url: login_submit_users_path, model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation" class="form-group mt-5">
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
    <p>
        <%= form.label :email %><br/>
        <%= form.text_field(:email, {class: 'form-control'}) %>
    </p>
    <p>
        <%= form.label :password %><br/>
        <%= form.password_field(:password, {class: 'form-control'}) %>
    </p>
    <p>
        <%= form.submit({class: 'btn btn-secondary my-2 my-sm-0'}) %>
    </p>
<% end %>
</div>